{% load static %}
<!DOCTYPE html>
    <html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Inicio</title>
    </head>
    <link href="https://fonts.googleapis.com/css?family=Nunito&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Overpass&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="static/css/login.css">


        <style type="text/css">

        </style>

        <script type="text/javascript">

        </script>
    <body>
        <div id="contenedor">
            <div id="central">
                <div id="login">
                     <form method="POST" action="/loginAction/">
                         {% csrf_token %}
                         <div class="titulo">
                                    Bienvenidos
                         </div>
                         <h3>{{ err }}</h3>
                         <form id="loginform">
                             <input type="text" name="userIntx" placeholder="Usuario" required="required"/>
                             <input type="password" name="passwordInPs" placeholder="Contraseña" required="required"/>
                             <button type="submit" title="Ingresar" name="Ingresar">Aceptar</button>
                        </form>
                </div>
            </div>
        </div>

                     </form>

        <h1> Registrarse </h1>
        <form action="/registarusuario/" method="POST">{% csrf_token %}
                    <div class="form-group">
                        <input type="text" id="txtusuario" name="txtusuario" value="{{usuario.nombre}}" class="form-control" placeholder="Nombre"
                            maxlength="50" required>
                    </div>
                    <div class="form-group">
                        <input type="text" id="setpassword" name="setpassword" value="{{usuario.password}}" class="form-control" min="1" max="9"
                            value="1" required>
                    </div>
                    <div class="form-group">
                        <button type="submit" class="btn btn-success btn-block text-white">Registrar</button>
                    </div>
                </form>
    </body>
    </html>